page-home {
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-size: cover

    }
    
    
    .nav-main{
        background-color: '#FDB000'    
    }

}

