
 
 <ion-item class="background">
    <ion-note item-start  class="icon-customer">
       
        <ion-col><ion-icon name="person" ></ion-icon></ion-col> 
    </ion-note>    
  
    <h5 class="customer">{{customer?.name}}</h5>    
    <p>{{customer?.customerID}}</p>
    <ion-note item-end>
        <button color="button-alt" class = "button" ion-button icon-only (click)="onSearchCustomer();">
            <ion-icon name="search"></ion-icon>
        
       </button>
    </ion-note>
  </ion-item>  
 