<ion-header>

  <ion-navbar>
     
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>      
      <ion-title >
        <div>        
          <img src="./assets/images/logo.png" width="50%" style="display:inline-block" height="30px"/> 
        </div> 
      </ion-title>
    
  </ion-navbar>  
</ion-header>


<ion-content padding>
  <div class="divslide">
    <ion-slides autoplay="1000" loop="true" pager="true" class="slider" >
      <ion-slide>
        <img src="assets/images/img1.jpg"/>
      </ion-slide>
      <ion-slide class="slide"> 
        <img src="assets/images/img2.png"/>
      </ion-slide>
      <ion-slide class="slide">
        <img src="assets/images/img3.jpg"/>
      </ion-slide>
    </ion-slides>      
  </div>
  <div>
    <h3 class="big_head">
    <span>OFERTAS</span> DO <span>DIA</span>
    <h3 class="smalltext">As melhores ofertas todos os dias</h3> 
    </h3>
  </div>        
  <div>
    <ion-list class="first_list">
      <ion-item  *ngFor="let prod of salesProducts">
        <div class="content">
          <div class="like">
            <ion-icon *ngIf="!prod.favorited"  name="heart-outline" (click)="onClickFavorite(prod)" ></ion-icon>
            <ion-icon *ngIf="prod.favorited" name="heart" (click)="onClickFavorite(prod)" color="danger"></ion-icon> 
          </div>
          <div class="img_fash">
            <img src="{{prod.imageUrl}}"/>
            <p>teste {{prod.discountPercent}}</p>
            <div class="offer">
              <p>{{prod.discountPercent}}% OFF</p>
            </div>
          </div> 
          <div class="det_item">
              <h3>{{prod.description}} </h3>
              <p>Código do Produto: {{prod.productID}}</p>
              <p class="price">{{prod.price | currency:'BRL':true }}<span>{{ prod.salePrice | currency:'BRL':true }}</span></p>
              <div align="center">
                  <button text-center [disabled]="prod.activated" ion-button round color="button-alt" (click)="onClickOffer(prod)">
                      {{!prod.activated ? 'Ativar Promoção' : 'Expira em 10 dias'}}
                    </button>

              </div>
              
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
